.hg
.hgignore
*.sdf
*.pdb
*.obj
# *egg-info
# *.egg
*.suo
__pycache__
.idea/
.gradle/
build/
logs/
iTunesDLL/
local.properties

/TempSync/AtomConfig/compile-cache/
/TempSync/AtomConfig/.node-gyp/
/TempSync/AtomConfig/storage/

ImmPyCommands/*.pyc
ImmPyLibs/*.pyc
Source/sources/3dlearn
Source/sources/bluepillstudy
/TempSync/Vim/_font
/TempSync/Vim/_vimsize
/TempSync/Vim/_vimsize2
TempSync/vim/vim7*
Library/qt-wdk-4.8.0
Library/qt-win-sym-4.7.0
Library/boost
Library/WTL
Library/Qt
Library/DXSDK
Library/WTL80_7161_Final.zip
Source/Drivers
Source/Hooks/OllyDbgEx
Source/MyLibrary
Source/ShimEngine
Source/Falcom/src/
Source/Falcom/pkg/
Source/sources/ReactOS*
Source/sources/loki-lib
Source/sources/AvalonDock
Source/sources/dshow_x264
Source/sources/eadv020plus
Source/sources/FluentRibbon
Source/sources/kirikiri2
Source/sources/processhacker
Source/sources/Python 2.73
Source/sources/reactos
Source/sources/win2k
Source/sources/windbg64
Source/sources/KAV8.zip
Source/sources/ph.part*.rar
Source/sources/windows_2000_source_code.zip
Source/sources/WRK-v1.2
Source/sources/libimobiledevice

Source/Test_Drv
Source/LocaleEmulator/LocaleEmulator/win32k_x64_win8.i64
Source/LocaleEmulator/LocaleEmulator/win32k_x64_win8.sys
Source/LocaleEmulator/LocaleEmulator/Loader.exe
Source/LocaleEmulator/LocaleEmulator/LocaleEmulator.dll
Source/LocaleEmulator/LocaleEmulator/LoaderDll.dll

/TempSync/ChromeUpdater/LATEST_CHANGE
/TempSync/ChromeUpdater/CHECK
/Source/Hooks/Crack
/PyLibs/eric5*
/PyLibs/PyQt*
/PyLibs/sip.pyd

/Source/WG/
/Source/sources/pyv8
/Source/sources/v8
/Library/.Net/FluorineFx/

/Source/Hooks/ZWEI2Plus/zw/

/Source/Hooks/KrKr2Protect

/TempSync/SublimeText Packages/User/Package Control.last-run
/TempSync/SublimeText Packages/User/encoding_cache.json

/TempSync/SublimeText Packages/User/Package Control.cache
/TempSync/SublimeText Packages/User/Preferences.sublime-settings
/Source/Project/Glorius
/Library/qt-everywhere-opensource-src-5.3.0
/Source/sources/x64_dbg
/Source/Android/*/bin
/Source/Android/*/gen
/Source/Android/.metadata/.log
/Source/Android/.metadata/*/.log
/Source/Android/.metadata/.plugins/
/Source/Android/*/.settings/
/Source/Hooks/Falcom/ZWEI2Plus/zw
/Source/sources/Python-*
/Source/Android/hookTaobao
/Source/Project/PythonProtector
/Source/sources/cpython
/Source/Test_Con/python
/Source/Android/.metadata

/Source/Project/starsfutech
/Source/Project/PyInlineHook/python
/Source/Project/Gospel/
/Source/Project/Yukikaze/
/TempSync/SublimeText Packages/bz2/
/Source/Hooks/TaiG/JB
/Source/iOS
/Source/Project/AppleIdRegister
/Source/Project/Glorius2

/*/.gradle/
/*/local.properties
/*/.idea/workspace.xml
/*/.idea/libraries
/*/.DS_Store
/*/build/
/*/captures
.gitignore
/TempSync/SublimeText Packages/User/GoSublime/windows-x32
/TempSync/SublimeText Packages/User/*.*-ca-bundle
/Source/GoProject/src/AppleIdRegister
/Source/GoProject/pkg
/Source/Project/Private/
/Source/sources/qt
/Source/Project/AppleIdAuthorizer
/Source/Project/WindStockProj
/Source/sources/xposed/
/Source/GoProject/src/AppleIdAuthorizer
/Source/GoProject/src/AppleIdRegister2
/Source/GoProject/src/iTunesTool

/TempSync/AtomConfig/.apm/_git-remotes/
/Source/sources
