"*":
  "exception-reporting":
    userId: "4316e673-89de-30ca-58ba-09582c399910"
  welcome:
    showOnStartup: false
  "autohide-tree-view":
    none: 0
  editor:
    fontSize: 19
    invisibles:
      eol: " "
      cr: " "
    showInvisibles: true
    showIndentGuide: true
    tabLength: 4
    scrollPastEnd: true
    fontFamily: "Consolas"
    scrollSensitivity: 60
  core:
    disabledPackages: [
      "spell-check"
      "atom-terminal"
    ]
    themes: [
      "atom-dark-ui"
      "one-dark-syntax"
    ]
    autoHideMenuBar: true
  build: {}
  "spell-check": {}
  "atom-terminal": {}
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "tree-view":
    showOnRightSide: true
    hideVcsIgnoredFiles: true
  "autocomplete-python":
    pythonPath: "D:\\Dev\\Python"
    useSnippets: "required"
    fuzzyMatcher: false
  "go-plus":
    goPath: "D:/Dev/go/pkgs;D:/Desktop/Source/GoProject;D:/Desktop/Source/Project/Private;D:/Desktop/Source/Falcom"
    goInstallation: "D:/Dev/go"
    formatOnSave: false
    lintOnSave: false
    vetOnSave: false
    getMissingTools: false
    syntaxCheckOnSave: false
  "autocomplete-plus":
    autoActivationDelay: 10
".python.source":
  editor:
    autoIndentOnPaste: true
